<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if(user) { %> Welcome back <%= user.username %>
    <p>
      <a href="/auth/sign-out">Sign Out</a>
    </p>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <h1>Welcome to the App</h1>
    <% } %>
  </body>
</html>
